.signin {
  font-size: 14px;
  letter-spacing: 1px;

}

#root{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


body{
  
  background: url(https://images.unsplash.com/photo-1497436072909-60f360e1d4b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80);   
  background-size: cover;
  object-fit: cover;
  background-repeat: repeat;
  height: 100vh;
  position: relative;

}

.mainHeader{
  height: 60px;
  width: auto;
  background-color: #F6FBF9;
  padding: 10px 50px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}


.mainHeader_links{
  display: flex;
  gap: 20px;
}


/*   Log in, Sign up ADD FORMS  */

.logInHeader, .postForm{
  position: relative;
  height: auto;
  width: 405px;
  margin: 80px auto;
  padding: 60px 60px;
  background-color: #F6FBF9;
  border-radius: 20px;

}

.postForm{
  position: relative;
  height: auto;
  width: 405px;
  margin: 80px auto;
  padding: 60px 60px;
  background-color: #F6FBF9;
  border-radius: 20px;
}

.headerloginSignUp_header{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.loginSignUpContainer{
  display: flex;
  gap: 10px;
}


.headerloginSignUp{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.loginForm, .signUpForm, .postForm{
  border-radius: 20px;
  box-sizing: border-box;
  height: auto;
  padding: 20px;
  width: 400px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

input, .postForm .submit, textarea{
  height: 100%;
  position: relative;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(217, 217, 217);
  box-sizing: border-box;
  font-size: 18px;
  outline: 0;
  padding: 4px 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}



label{
  font-weight: 100;
}

.submit{
  background-color: #84C7AE;
  margin-top: 29px;
  height: 40px;
  
}
.submit:hover{
  background-color: #5b8979;
  color: white;
}

h3{
  margin-bottom: 30px;
  font-weight: 400;
}

.error{
  margin-top: 10px;
  color: red;
}

.notFound{
  height: auto;
  width: auto;
  background-color: #F6FBF9;
  margin: 20px 40px;
  padding: 10px 20px;
  border-radius: 10px;
}

.logo{
  height: 40px;
  width: auto;
  margin-right: 30px;
}

a{
  text-decoration: none;
}

a:hover{
  font-weight: bold;
}

/* CARDS */

.PostCards{
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
}

.postCardInfo{
  padding: 10px 15px;
}

.postCardInfo p{
  font-weight: 100;
}

.PostCardImg img{
  width: 200px;
  height: 250px;
  object-fit: cover;
  object-position: center center;
}

.singleCard{
  display: flex;
  height: 250px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 425px;
  padding: 0;

}

/* FOOTER */

footer{
  background: rgb(42, 42, 42);
  height: 20px;
  color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  flex-shrink: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  position: sticky;



}

.footer h3{
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-weight: 500;
  text-transform: capitalize;
}


/* PAGE OWNER POST */

.homeText{
  height: auto;
  width: auto;
  background-color: #F6FBF9;
  margin: 20px 40px;
  padding: 10px 20px;
  border-radius: 10px;

}

.homeText h1{
  font-size: 20px;
}

.homeText h3, p{
  font-weight: 100;
}

.storyCard{
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  margin-bottom: 1.6%;
  background: rgba(0, 0, 0, 0.038);
  line-height: 1.4;
  font-family: sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  overflow: hidden;
  gap: 20px
}
.storyCard img{
  height: auto;
  width: 400px;
}

.ownerstory{
  display: flex;
  align-items: center;
  justify-content: center;
}


.navbar .submit{
  background-color: #84C7AE;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding: 5px 20px;
}







